{% extends 'tickets/index.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static  'tickets/styles/tickets.css' %}">
{% endblock %}

{% block content %}
    <section class="ticket-container">
        <div class="title">
            <h1>All Tickets</h1>
        </div>
        <section class="search-filters">
            <section class="status-filters">
                <div class="filter-btns">
                    <button>
                        <a href="{% url 'tickets-view' %}?status=" style="color: white;">All ({{ all_count }})</a>
                    </button>
                    |
                    <button>
                        <a href="{% url 'tickets-view' %}?status=open" style="color: white;">Open ({{ open_count }})</a>
                    </button>
                    |
                    <button>
                        <a href="{% url 'tickets-view' %}?status=active" style="color: white;">Active ({{ active_count }})</a>
                    </button>
                    |
                    <button>
                        <a href="{% url 'tickets-view' %}?status=closed" style="color: white;">Closed ({{ closed_count }})</a>
                    </button>
                </div>
            </section>
            <!-- search bar -->
            <section class="search-bar-container">
                    
                <form class="search-bar method="GET" action="{% url 'tickets-view' %}">
                    <input type="text" name="q" placeholder="Search ticket...">
                    <button type="submit">Search</button>
                </form>
            </section>
        </section>
        <section class="ticket-list">
            <div class="ticket-row header">
                <div>Ticket Number</div>
                <div>Title</div>
                <div>Description</div>
                <div>Status</div>
                <div>Created By</div>
                <div>Assigned To</div>
            </div>

            <!-- When there are no tickets or if a status has no ticket -->
            {% if not tickets %}
                <div class="empty">
                    {% if open_count == 0 %}
                        <p> There are no open tickets.</p>
                    {% elif request.GET.status == 'active' %}
                        <p> You have no active tickets.</p>
                    {% elif closed_count == 0 %}
                        <p>You have no closed tickets.</p>
                    {% endif %}
                </div>
            {% else %}
                {% for ticket in tickets %}
                    <div class="ticket-row">
                        <div> <a href="{% url 'ticket-details' slug=ticket.slug %}">{{ ticket.ticket_id }}</a></div>
                        <div>{{ ticket.title }}</div>
                        <div>{{ ticket.description | truncatechars:100 }}</div>
                        <div>{{ ticket.status }}</div>
                        <div>{{ ticket.created_by.username }}</div>
                        {% if ticket.assigned_to %}
                            <div>{{ ticket.assigned_to.username }}</div>
                        {% else %}
                            <div><p>-</p></div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </section>
    </section>

{% endblock %}